<div class="container">
    <br>
    <br>
    <h1 style="text-align: center;">Registrarse</h1>
    <hr>
    <div *ngIf="showMsg">
        <p *ngFor="let msg of messages">
            {{msg}}
        </p>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" #email placeholder="Email" [(ngModel)]="customer.email" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" #name placeholder="Name" [(ngModel)]="customer.name" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" #address placeholder="Address" [(ngModel)]="customer.address" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" #phone placeholder="Phone" [(ngModel)]="customer.phone" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="enable">Enable</label>
                <select name="enable" id="enable" #enable [(ngModel)]="customer.enable" class="form-control">
                    <option *ngFor="let enable of enables" [value]="enable.id">
                        {{enable.name}}
                    </option>
                 </select>
            </div>
            <div class="form-group col-md-6">
                <label for="token">Contraseña</label>
                <input type="password" name="token" id="token" #token placeholder="Contraseña" [(ngModel)]="customer.token" class="form-control">
            </div>
        </div>
        <br>
        <button (click)="registrar()" class="btn btn-primary btn-block">Registrarse</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Do you have an account?<a routerLink='/login'> Login</a>
            </div>
        </div>
    </form>
</div>