<div class="container">
    <br>
    <br>
    <h1>{{titulo}}</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Enable</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers | paginate: {itemsPerPage: 7, currentPage: pageActual}">
                    <td>{{customer.email}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.enable}}</td>
                    <td>
                        <a [routerLink]="['/customer-edit',customer.email]"><i class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <i class="fas fa-trash-alt" style="color:red"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="pageActual=$event"></pagination-controls>

</div>