<div class="container">
    <br>
    <br>
    <h1 style="text-align: center;">{{titulo}}</h1>
    <hr>
    <div *ngIf="showMsg">
        <p *ngFor="let msg of messages">
            {{msg}}
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ProId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Enable</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | paginate: {itemsPerPage: 5, currentPage: pageActual}">
                    <td>{{product.proId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.detail}}</td>
                    <td>{{product.price | currency:'':'symbol':'4.0'}}</td>
                    <td>
                        <img [src]="product.image" fallimg="default" class="img-thumb" width="35" height="45">
                    </td>
                    <td>{{product.enable}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/product-edit',product.proId]">
                            <a><i class="fas fa-pencil-alt" style="color:white"></i></a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="pageActual=$event"></pagination-controls>

</div>