<div class="container">
    <br>
    <br>
    <h1 style="text-align: center;">Recuperar contraseña</h1>
    <hr>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="username" id="username" #username="ngModel" placeholder="Username" [(ngModel)]="ema" class="form-control">
        </div>
        <br>
        <button (click)="recuperar()" class="btn btn-primary btn-block">Enviar correo de recuperación</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                <a routerLink='/login'> Login</a>
            </div>
        </div>
    </form>
</div>