<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Demo-rest</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div *ngIf="isAuth()&&userF$|async as userF">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto" *ngIf="isAdmin()">
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Customer
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="customer-list" routerLinkActive="bg-secondary">Customer List</a>
                            <a class="dropdown-item" routerLink="customer-save" routerLinkActive="bg-secondary">Customer Save</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Product
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="product-list" routerLinkActive="bg-secondary">Product List</a>
                            <a class="dropdown-item" routerLink="product-save" routerLinkActive="bg-secondary">Product Save</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Payment Method
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="paymentMethod-list" routerLinkActive="bg-secondary">Payment Method List</a>
                            <a class="dropdown-item" routerLink="paymentMethod-save" routerLinkActive="bg-secondary">Payment Method Save</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mi perfil
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/customer-edit',userF.email]" routerLinkActive="bg-secondary">Editar</a>
                            <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto" *ngIf="!isAdmin()">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/home-user']">Productos</a>
                    </li>
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" *ngIf="show()==true">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="mostrarP()">
                            <span class="fa fa-shopping-cart bigicon" *ngIf="shca">
                                {{shca[0].items}}
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-cart" role="menu" *ngIf="shca">
                            <li *ngFor="let sp of shpr; let i=index">
                                <span class="item">
                                  <span class="item-left">
                                      <img [src]="sp.productImage" fallimg="default" width="30" height="40" />
                                      <span class="item-info">
                                          <span>{{sp.productName}}</span>
                                <span>{{sp.quantity}} x {{sp.productPrice| currency:'':'symbol':'4.0'}}</span>
                                </span>
                                </span>
                                <span class="item-right">
                                      <button class="btn btn-danger btn-sm btn-circle" (click)="deletePro(sp.productId)"><i class="fas fa-times" style="color:white"></i></button>
                                  </span>
                                </span>
                            </li>
                            <span class="item2">Total:
                                <span class="item2-right" *ngIf="shca">
                                    {{shca[0].total| currency:'':'symbol':'4.0'}}
                                </span>
                            </span>
                            <li class="divider"></li>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary btn-sm btn-block" [routerLink]="['/customer-cart']">View cart</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button class="btn btn-danger btn-sm btn-block" (click)="clearCart()">Cleart cart</button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm btn-block" [routerLink]="['/checkout']">Checkout</button>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mi perfil
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLinkActive="bg-secondary" [routerLink]="['/editar']">Editar</a>
                            <a class="dropdown-item" routerLinkActive="bg-secondary" [routerLink]="['/compras']">Mis Compras</a>
                            <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>