<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Demo-rest</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="customer-list">Customer</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="product-list">Product</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation" routerLinkActive="active">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="paymentMethod-list">Payment Method</a>
                </li>
            </ul>
        </div>
    </div>
</nav>