<div class="card mt-5" *ngIf="userF$ | async as userF; else loading">
    <hr>
    <hr>
    <div class="card-body">
        <h2 class="card-title text-center">Verificación de email!</h2>
        <div class="form-group mt-2">
            <p class="text-center">
                Se ha enviado un correo de verificación a <strong>{{userF?.email}}</strong>
            </p>
            <p class="text-center">
                Por favor verifica tu email dando click en el enlance de verificacion enviado a tu direccion de correo electronico
            </p>
        </div>
        <div class="form-group text-center mt-5">
            <button class="btn btn-primary" (click)="sendVerificationEmail()">Reenviar la verificación de email</button>
        </div>
    </div>
    <div class="text-center">
        Si ya ha verificado su correo, <a routerLink='/login'>ingrese</a>
    </div>
</div>

<ng-template #loading>
    <hr>
    <hr>
    <div class="container align-content-center">
        <button class="btn btn-primary">Login</button>
    </div>
</ng-template>